name: Release Drafter

on:
    push:
        branches:
            - main
        # pull_request event is required only for autolabeler
        # pull_request:
        # Only following types are handled by the action, but one can default to all as well
        # types: [opened, reopened, synchronize]
    # pull_request_target event is required for autolabeler to support PRs from forks
    # pull_request_target:
    #     types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    calls_update_release_draft:
        uses: AlbertPuwadol/pr-template/.github/workflows/release-drafter.yml@master
        with:
            base_branch: main
        secrets:
            PERSONAL_ACCESS_TOKEN: ${{ secrets.RELEASE_DRAFTER_TOKEN }}
        permissions:
            contents: write
            pull-requests: write
